<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_site.css') }}">
    <title> Dogs :) </title>
</head>
<body>
  <h1> Hey, {{name}}! Look at the time! It is {{time}}</h1>
        <h2> Do you know what that means? </h2>
            <h3> It means that it's time to look at dog pics! </h3>
                <p> Now here's what you have to do: </p>
                        <!-- Ordered list -->
                        <ol type="1">
                            <li> Whip that phone of yours out </li>
                            <li> Smack your favorite browser </li>
                            <li> Type <a href="https://www.google.com/search?q=cute+dogs">'Cute Dogs'</a> up on in that URL bar (or click the link)</li>
                            <li> Rejoice </li>
                            <li> Repeat if applicable </li>
                        </ol>
                <p> We'd also like to inform you of some of our favorite dog breeds (in no particular order) </p>
                        <!-- Unordered list -->
                        <ul>
                            <li> Labradors </li>
                            <li> Retrievers </li>
                            <li> Terriers </li>
                            <li> Little <a href="https://www.youtube.com/watch?v=j3Cn7slInGo" > White Dogs </a> (Who really knows what they are?) </li>
                        </ul>
            <!-- Table full of cute dogs! -->
            <table style="text-align: center ">
                <tr style="text-align: center "> <td style="padding-top: 75px"> Corgis </td> <td><p><img src="{{ url_for('static', filename='corgi.jpg') }}" alt="Corgi" height="120px" width="120px"></p></td> <td style="padding-top: 75px"><a href="https://en.wikipedia.org/wiki/Welsh_Corgi"> Click here for more Corgi's! </a></td></tr>
                <tr style="text-align: center "> <td style="padding-top: 75px"> Cocker Spaniels </td> <td><p><img src="{{ url_for('static', filename='Cocker.jpg') }}" alt="Cocker" height="120px" width="120px"></td> <td style="padding-top: 75px"><a href="https://en.wikipedia.org/wiki/Cocker_Spaniel"> Click here for more Spaniels! </a></p></td></tr>
                <tr style="text-align: center "> <td style="padding-top: 75px"> Golden Retrievers </td> <td><p><img src="{{ url_for('static', filename='golden.jpg') }}" alt="Golden" height="120px" width="120px"/></p></td> <td style="padding-top: 75px"><a href="https://en.wikipedia.org/wiki/Golden_Retriever"> Click here for more Goldens! </a></td></tr>
                <tr style="text-align: center "> <td style="padding-top: 75px"> Shibas </td> <td><p><img src="{{ url_for('static', filename='shiba.jpg') }}" alt="Shiba" height="120px" width="120px"/></p></td> <td style="padding-top: 75px"> <a href="https://en.wikipedia.org/wiki/Shiba_Inu"> Click here for more Shibas! </a></td></tr>
            </table>
            <form method="get" action="{{ url_for('update_password') }}">
                <table style="width: 80%; margin: 0 auto; margin-top: 15px">
                <tr>
                    <td style="font-weight: bold"> Update Password:</td>
                </tr>
                <tr>
                    <td colspan="2"> <input type="submit" value="Update"></td>
                </tr>
                </table>
            </form>
                <p style="text-align: center"> If you are interested in helping out cute dogs in need please <a href="https://www.aspca.org/">click here for more information!</a></p>
</body>
