<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_site.css') }}">
    <meta charset="UTF-8">
    <title>Register Now!</title>
</head>
<body>
    {% if error %}

    <p style="color: red"> {{ error }} </p>

    {% endif %}
    <p style="color: red"> Please Try Again </p>
    <form method="post" action="{{ url_for('update_password') }}">
       <table style="width: 80%; margin: 0 auto; margin-top: 15px">
           <tr style="font-weight: bold">
                <td> <label for="username"> Select a Username: </label></td>
           </tr>
           <tr>
                <td> <input name="username" id="username" required> </td>
           </tr>
           <tr style="font-weight: bold">
                <td> <label for="old_password"> Old Password: </label></td>
           </tr>
           <tr>
                <td> <input name="old_password" id="old_password" type="password" required> </td>
           </tr>
            <tr style="font-weight: bold">
                <td> <label for="new_password"> New Password: </label> </td>
            </tr>
           <tr>
                <td> <input name="new_password" id="new_password" type="password" required> </td>
           </tr>
           <tr>
           <tr style="font-weight: bold">
                <td> <label for="password_confirm"> Confirm New Password: </label> </td>
            </tr>
           <tr>
                <td> <input name="password_confirm" id="password_confirm" type="password" required> </td>
           </tr>
           <tr>
               <td colspan="2"> <input type="submit" value="Update"> </td>
           </tr>
       </table>
    </form>
</body>
</html>